<%= select_tag 'sort_method', options_for_select(@order_hash, params[:sort_method] || @order_hash[0] ), {onchange: "paginateDataFetch(value,#{0}, #{@per_page})", class: 'form-control', style: 'float:right; width:20%; margin-right:2%'}  %>
<br/>

<div id="projects_main">
	<ul class="col-md-12 tbl_row">
		<li class="col-md-3"> Title</li>
		<li class="col-md-2"> Date Added</li>
		<li class="col-md-2"> Category</li>
		<li class="col-md-3"> User</li>
		<li class="col-md-2"> Desc</li>
	</ul>
	<div id="content">

	<% @result.each do |proj| %>
		<ul class="col-md-12 tbl_row">
			<li class="col-md-3 "> <%= "#{proj.title.presence || '-'}" %> </li>
			<li class="col-md-2 "> <%= "#{proj.date_added.strftime('%b %e %Y')}" %> </li>
			<li class="col-md-2 "> <%= "#{proj.cname.presence || '-'}" %> </li>
			<li class="col-md-3 "> <%= "#{proj.uname}" %> </li>
			<li class="col-md-2 "> <%= "#{proj.description.presence || '-'}" %> </li>
		</ul>
	<% end %>

	</div>
	<div id="page_navigation"></div>
	<input type="hidden" name="current_page" id="current_page">
	<input type="hidden" name="show_per_page" id="show_per_page">
	<input type="hidden" name="total_pages" id="total_pages" value="<%= @total_pages%>">
</div>

<script type="text/javascript">
	$(document).ready(function(){
		customPagination(<%= @per_page %> , <%= @total_pages %>, <%= @page%>);
});

function customPagination(per_page, total_pages, page){
  // Items per Page
  var show_per_page =  per_page; 
  // No. of pages 
  var number_of_pages = total_pages
  //set the value of our hidden input fields
  $('#current_page').val(page);
  $('#show_per_page').val(show_per_page);
  var navigation_html = '<ul class="pagination"><li class="previous_link"><a href="javascript:previous();">&larr; Previous</a></li>';
  var current_link = 0;
  while(number_of_pages > current_link){
    navigation_html += '<li class="page_link" id="id' + current_link +'"> <a href="javascript:go_to_page(' + current_link +')" longdesc="' + current_link +'">'+ (current_link + 1) +'</a></li>';
    current_link++;
  }
  navigation_html += '<li><a class="next_link" href="javascript:next();">Next &rarr;</a></li></ul>';
  $('#page_navigation').html(navigation_html);
  //add active class to the first page link
  $('#page_navigation .page_link:nth-child('+ (page + 2) +')').addClass('active');
  if(page == 0){
	$('#page_navigation .previous_link').addClass('disabled');
  }else{
	  $('#page_navigation .previous_link').removeClass('disabled');
  }
  if(page >= total_pages-1){
	$('#page_navigation .next_link').addClass('disabled');
  }else{
	  $('#page_navigation .next_link').removeClass('disabled');
  }
  //hide all the elements inside content div
  $('#content').children().css('display', 'none');
  //and show the first n (show_per_page) elements
  $('#content').children().slice(0, show_per_page).css('display', 'block');
}

function previous(){
  new_page = parseInt($('#current_page').val()) - 1;
  //if there is an item before the current active link run the function
  if($('.active').prev('.page_link').length==true){
    go_to_page(new_page);
  }
}

function next(){
  new_page = parseInt($('#current_page').val()) + 1;
  //if there is an item after the current active link run the function
  if($('.active').next('.page_link').length==true){
    go_to_page(new_page);
  }
}

function go_to_page(page_num){
  // Items per Page to show
  var show_per_page = parseInt($('#show_per_page').val());
  var sort_method = $("#sort_method").val()
  paginateDataFetch(sort_method, page_num, show_per_page)
}

function paginateDataFetch(id,page,per_page) {
	 $.ajax({
	 	url: "/projects?sort_method="+id+"&per_page="+per_page+"&page="+page, 
	 	success: function(response){
	        var success =  $($.parseHTML(response)).filter("#projects_main").html(); 
			var total_pages = $($.parseHTML(response)).find("#total_pages").val()
	        $("#projects_main").html(success);
	        customPagination(per_page, total_pages, page);
	    },
		error: function (request, status, error) {
	        alert(request.responseText);
	    }
	});
}
</script>
